<div class="pl-item col-xs-12 col-sm-4 col-md-4 col-lg-3">

	<div class="pl-border">
		<div class="pl-thumb">
			<a href="{{ productItem.getDetailUrl }}">
				<img class="img-responsive" src="{{ productItem.getPictureUrl }}" alt="bild">
			</a>
		</div>
		<div class="pl-body">
			<h3 class="pl-name">{{ productItem.getName }}</h3>
			<p class="pl-desc">{{ productItem.getDescription }}</p>
		</div>

		<div class="pl-price">{{ productItem.getPrice }} &euro;</div>
		<div class="pl-link">
			<button type="button" data-toggle="modal" data-target="#pl-modal-{{ loop.index }}"
							class="btn btn-default glyphicon glyphicon-shopping-cart"
				 			role="button">
				<span class="sr-only">in den Warenkorb</span>
			</button>
		</div>
	</div>

	<div id="pl-modal-{{ loop.index }}" aria-labeledby="pl-modal-label" class="modal fade add-to-basket-modal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">{{ productItem.getName }}</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-3">
							<img class="img-responsive" src="{{ productItem.getPictureUrl }}" alt="bild">
						</div>
						<div class="col-xs-12 col-sm-8 col-md-9">
							<p>{{ productItem.getName }} <small class="text-muted">in den Warenkorb</small></p>

							<form class="">
								<div class="row">
									<div class="col-xs-6">
										<div class="form-group">
											<label for="amount" class="sr-only">Anzahl</label>
											<select class="form-control" name="amount">
												<option value="1" selected="selected">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
											</select>
										</div>
									</div>
									<div class="col-xs-3">
										<a href="/detail/index"
											class="btn btn-default btn-block glyphicon glyphicon-edit"
											title="zum Konfigurator"><span class="sr-only">Konfigurator</span></a>
									</div>
									<div class="col-xs-3">
										<button type="submit"
														class="btn btn-primary btn-block glyphicon glyphicon-shopping-cart"
										><span class="sr-only">Warenkorb</span></button>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</div>