{% include '/_Parts/htmlHeader.twig' %}

{% include '/_Parts/mainMenu.twig' %}

{% include '/_Parts/breadcrumb.twig' %}

{% include '/_Parts/pageHeader.twig' %}

<div class="container" style="min-height: 400px;">
    <div class="row">
        <div class="hidden-xs col-md-4">
            {% include '/_Parts/sidebar.twig' %}
        </div>
        <div class="col-xs-12 col-md-8">

            <div>

                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>{#
                {% include './Parts/Paginator.twig' with { 'paginator':productList.getPaginator } %}#}

                <div class="pull-right">
                    <a href="/productlist/index/?sortby=price">Price^</a>
                </div>

            </div>


            <div class="row">
                <div class="row">
                    {% for productListItem in productList %}
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="{{ productListItem.getThumb.getThumbUrl }}"
                                     alt="{{ productListItem.getThumb.getAltTag }}">
                                <div class="caption">
                                    <h3>{{ productListItem.getName }}</h3>
                                    <p>{{ productListItem.getDescription }}</p>
                                    <p><a href="#" class="btn btn-primary" role="button">bestellen</a></p>
                                    <p>ab {{ productListItem.getDefaultPrice.getGrossPriceAsHtml | raw }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>

{% include '/_Parts/footerMenu.twig' %}

{% include '/_Parts/htmlFooter.twig' %}