{% extends '/_layouts/pageWithSidebar.twig' %}

{% block content %}

	{{ controllerName }} {{ actionName }}

	<ul>
		{% for menuItem in mainMenu %}
			<li><a href="{{ menuItem.getUrl }}">{{ menuItem.getText }}</a></li>
		{% endfor %}
	</ul>
	<hr />
	<ul>
		{% for menuItem in footerMenu %}
			<li><a href="{{ menuItem.getUrl }}">{{ menuItem.getText }}</a></li>
		{% endfor %}
	</ul>
	<hr />
	<ul>
		{% for productItem in productItem %}
			<li><a href="{{ productItem.getUrl }}">{{ productItem.getText }}</a></li>
		{% endfor %}
	</ul>

{% endblock %}
